#viewDiv {
    height: 100%;
    width: 80%
}
#chart {
    position: absolute;
    height: 300px;
}

body {
    height: 100%;
    width: 100%;
}


#collapse-button {
    display: block;
    margin-left: auto;
}

.flex-shrink-0.p-3 {
    width: 30%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}


.flex-shrink-0.p-3.closed {
    transform: translateX(-100%);
}

#viewDiv {
    width: 70%;
    position: absolute; /* Position the map view relative to the body */
    top: 0;
    right: 0;
    bottom: 0;
}